@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap" rel="stylesheet');

body {
  margin: 0;
  font-family: 'Sulphur Point', sans-serif;
}

.myButton{
  text-align:center;
  height:60px;
  margin-top:30px;
  font-size:30px;
  background-color: #11375c;
  color:white;
  border: 5px solid black;
  cursor: pointer;
}

.myDiv{
  text-align: center;
}
